USE [master]
GO
/****** Object:  Database [SISVENTAS]    Script Date: 18/04/2023 20:56:10 ******/
CREATE DATABASE [SISVENTAS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SISVENTAS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SISVENTAS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SISVENTAS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SISVENTAS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SISVENTAS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SISVENTAS]
GO
/****** Object:  Table [dbo].[ADMINISTRADOR]    Script Date: 18/04/2023 20:56:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMINISTRADOR](
	[ID_ADMIN] [int] IDENTITY(1,1) NOT NULL,
	[ID_USUARIO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ADMIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 18/04/2023 20:56:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[ID_CLIENTES] [int] IDENTITY(1,1) NOT NULL,
	[CLIENTE] [varchar](30) NULL,
	[DIRECCION] [varchar](60) NULL,
	[DNI] [int] NULL,
	[NUMCELULAR] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTES] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLEADO]    Script Date: 18/04/2023 20:56:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLEADO](
	[ID_EMPLEADO] [int] IDENTITY(1,1) NOT NULL,
	[ID_USUARIO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_EMPLEADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTOS]    Script Date: 18/04/2023 20:56:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTOS](
	[ID_PRODUCTOS] [int] IDENTITY(1,1) NOT NULL,
	[PRODUCTO] [varchar](30) NULL,
	[PRECIO] [int] NULL,
	[CANTIDAD] [int] NULL,
	[CATEGORIA] [varchar](30) NULL,
	[DESCRIPCION] [varchar](60) NULL,
	[FORMAPAGO] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCTOS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVEEDORES]    Script Date: 18/04/2023 20:56:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVEEDORES](
	[ID_PROVEEDORES] [int] IDENTITY(1,1) NOT NULL,
	[ID_PRODUCTOS] [int] NULL,
	[NOMBRES] [nvarchar](30) NULL,
	[RUC] [int] NULL,
	[DIRECCION] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PROVEEDORES] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 18/04/2023 20:56:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[ID_USUARIO] [int] IDENTITY(1,1) NOT NULL,
	[USUARIO] [varchar](30) NULL,
	[PASS] [binary](64) NULL,
	[TIPO_USUARIO] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENTA]    Script Date: 18/04/2023 20:56:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENTA](
	[ID_VENTA] [int] IDENTITY(1,1) NOT NULL,
	[ID_CLIENTE] [int] NULL,
	[ID_PRODUCTO] [int] NULL,
	[NOM_V] [varchar](20) NULL,
	[FECHA] [date] NULL,
	[CANT_PED] [int] NULL,
	[TOTAL] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_VENTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CLIENTES] ON 

INSERT [dbo].[CLIENTES] ([ID_CLIENTES], [CLIENTE], [DIRECCION], [DNI], [NUMCELULAR]) VALUES (1, N'Josue', N'Inca Roca', 123123, 9234434)
INSERT [dbo].[CLIENTES] ([ID_CLIENTES], [CLIENTE], [DIRECCION], [DNI], [NUMCELULAR]) VALUES (4, N'Torres', N'Senati', 876545, 98878765)
INSERT [dbo].[CLIENTES] ([ID_CLIENTES], [CLIENTE], [DIRECCION], [DNI], [NUMCELULAR]) VALUES (5, N'Hernán', N'Av. Cutervo', 2323432, 93847322)
SET IDENTITY_INSERT [dbo].[CLIENTES] OFF
GO
SET IDENTITY_INSERT [dbo].[PRODUCTOS] ON 

INSERT [dbo].[PRODUCTOS] ([ID_PRODUCTOS], [PRODUCTO], [PRECIO], [CANTIDAD], [CATEGORIA], [DESCRIPCION], [FORMAPAGO]) VALUES (1, N'teclado', 120, 48, N'Hardware', N'teclado 60% redDragon', N'Contado')
INSERT [dbo].[PRODUCTOS] ([ID_PRODUCTOS], [PRODUCTO], [PRECIO], [CANTIDAD], [CATEGORIA], [DESCRIPCION], [FORMAPAGO]) VALUES (4, N'Mouse', 90, 46, N'Hardware', N'Mouse Logitech G203', N'Credito')
INSERT [dbo].[PRODUCTOS] ([ID_PRODUCTOS], [PRODUCTO], [PRECIO], [CANTIDAD], [CATEGORIA], [DESCRIPCION], [FORMAPAGO]) VALUES (6, N'Office 2019', 15, 1000, N'Software', N'Programa de Office 2019 para Windows', N'Contado')
SET IDENTITY_INSERT [dbo].[PRODUCTOS] OFF
GO
SET IDENTITY_INSERT [dbo].[USUARIOS] ON 

INSERT [dbo].[USUARIOS] ([ID_USUARIO], [USUARIO], [PASS], [TIPO_USUARIO]) VALUES (3, N'ADMIN', 0xA7DE78F5B4D7B66B6424F7EE3503095A97D3A432DCC3834D14431B3AFED198E73A32D3D92A813747D0691326C5C677159A1184DEB5912EEAF3AF9FA6FC9EC70B, N'ADMINISTRADOR')
INSERT [dbo].[USUARIOS] ([ID_USUARIO], [USUARIO], [PASS], [TIPO_USUARIO]) VALUES (4, N'BRISA', 0x3627909A29C31381A071EC27F7C9CA97726182AED29A7DDD2E54353322CFB30ABB9E3A6DF2AC2C20FE23436311D678564D0C8D305930575F60E2D3D048184D79, N'EMPLEADO')
INSERT [dbo].[USUARIOS] ([ID_USUARIO], [USUARIO], [PASS], [TIPO_USUARIO]) VALUES (6, N'TORRES', 0xA7DE78F5B4D7B66B6424F7EE3503095A97D3A432DCC3834D14431B3AFED198E73A32D3D92A813747D0691326C5C677159A1184DEB5912EEAF3AF9FA6FC9EC70B, N'ADMINISTRADOR')
SET IDENTITY_INSERT [dbo].[USUARIOS] OFF
GO
SET IDENTITY_INSERT [dbo].[VENTA] ON 

INSERT [dbo].[VENTA] ([ID_VENTA], [ID_CLIENTE], [ID_PRODUCTO], [NOM_V], [FECHA], [CANT_PED], [TOTAL]) VALUES (1, 1, 1, N'Miguel', CAST(N'2020-09-22' AS Date), 4, CAST(566.40 AS Decimal(18, 2)))
INSERT [dbo].[VENTA] ([ID_VENTA], [ID_CLIENTE], [ID_PRODUCTO], [NOM_V], [FECHA], [CANT_PED], [TOTAL]) VALUES (2, 1, 1, N'Miguel', CAST(N'2020-09-22' AS Date), 4, CAST(566.40 AS Decimal(18, 2)))
INSERT [dbo].[VENTA] ([ID_VENTA], [ID_CLIENTE], [ID_PRODUCTO], [NOM_V], [FECHA], [CANT_PED], [TOTAL]) VALUES (3, 1, 1, N'Miguel', CAST(N'2020-09-22' AS Date), 4, CAST(566.40 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[VENTA] OFF
GO
ALTER TABLE [dbo].[ADMINISTRADOR]  WITH CHECK ADD FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIOS] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[EMPLEADO]  WITH CHECK ADD FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIOS] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[PROVEEDORES]  WITH CHECK ADD FOREIGN KEY([ID_PRODUCTOS])
REFERENCES [dbo].[PRODUCTOS] ([ID_PRODUCTOS])
GO
ALTER TABLE [dbo].[VENTA]  WITH CHECK ADD FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTES] ([ID_CLIENTES])
GO
ALTER TABLE [dbo].[VENTA]  WITH CHECK ADD FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[PRODUCTOS] ([ID_PRODUCTOS])
GO
/****** Object:  StoredProcedure [dbo].[Buscar_Cliente]    Script Date: 18/04/2023 20:56:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Buscar_Cliente]
(
@ID_CLIENTE INT
)
as
begin
select * from CLIENTES where ID_CLIENTES = @ID_CLIENTE
end
GO
/****** Object:  StoredProcedure [dbo].[Buscar_Producto]    Script Date: 18/04/2023 20:56:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Buscar_Producto]
(
@ID_PRODUCTO INT
)
as
begin
select * from PRODUCTOS where ID_PRODUCTOS = @ID_PRODUCTO
end
GO
/****** Object:  StoredProcedure [dbo].[EDITAR_CLIENTES]    Script Date: 18/04/2023 20:56:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[EDITAR_CLIENTES]
@ID_CLIENTES INT,
@CLIENTE VARCHAR (30),
@DIRECCION VARCHAR (60),
@DNI INT,
@NUMCELULAR INT
AS
UPDATE CLIENTES SET CLIENTE=@CLIENTE, DIRECCION=@DIRECCION, DNI=@DNI, NUMCELULAR=@NUMCELULAR WHERE ID_CLIENTES=@ID_CLIENTES
GO
/****** Object:  StoredProcedure [dbo].[EDITAR_PRODUCTOS]    Script Date: 18/04/2023 20:56:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[EDITAR_PRODUCTOS]
@ID_PRODUCTOS INT,
@PRODUCTO VARCHAR (20),
@PRECIO INT,
@CANTIDAD INT,
@CATEGORIA VARCHAR (30),
@DESCRIPCION VARCHAR (60),
@FORMAPAGO VARCHAR (10)
AS
UPDATE PRODUCTOS SET PRODUCTO=@PRODUCTO, PRECIO=@PRECIO, CANTIDAD=@CANTIDAD,CATEGORIA=@CATEGORIA, DESCRIPCION=@DESCRIPCION, FORMAPAGO=@FORMAPAGO WHERE ID_PRODUCTOS=@ID_PRODUCTOS
GO
/****** Object:  StoredProcedure [dbo].[EDITAR_PROVEEDOR]    Script Date: 18/04/2023 20:56:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[EDITAR_PROVEEDOR]
@ID_PROVEEDORES INT,
@NOMBRES NVARCHAR (30),
@RUC INT,
@DIRECCION NVARCHAR (50)
AS
UPDATE PROVEEDORES SET NOMBRES=@NOMBRES, RUC=@RUC, DIRECCION=@DIRECCION WHERE ID_PROVEEDORES=@ID_PROVEEDORES
GO
/****** Object:  StoredProcedure [dbo].[EDITAR_USUARIO]    Script Date: 18/04/2023 20:56:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[EDITAR_USUARIO]
@ID_USUARIO INT,
@USUARIO VARCHAR (30),
@TIPOUSUARIO VARCHAR(30)
AS
UPDATE USUARIOS SET USUARIO=@USUARIO, TIPO_USUARIO=@TIPOUSUARIO WHERE ID_USUARIO=@ID_USUARIO
GO
/****** Object:  StoredProcedure [dbo].[ELIMINAR_CLIENTE]    Script Date: 18/04/2023 20:56:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ELIMINAR_CLIENTE]
@ID_CLIENTES INT
AS
DELETE FROM CLIENTES WHERE ID_CLIENTES = @ID_CLIENTES
GO
/****** Object:  StoredProcedure [dbo].[ELIMINAR_PROD]    Script Date: 18/04/2023 20:56:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ELIMINAR_PROD]
@ID_PRODUCTOS INT
AS
DELETE FROM PRODUCTOS WHERE ID_PRODUCTOS = @ID_PRODUCTOS
GO
/****** Object:  StoredProcedure [dbo].[ELIMINAR_PROVEEDOR]    Script Date: 18/04/2023 20:56:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ELIMINAR_PROVEEDOR]
@ID_PROVEEDORES INT
AS
DELETE FROM PROVEEDORES WHERE ID_PROVEEDORES = @ID_PROVEEDORES
GO
/****** Object:  StoredProcedure [dbo].[ELIMINAR_USUARIO]    Script Date: 18/04/2023 20:56:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ELIMINAR_USUARIO]
@ID_USUARIO INT
AS
DELETE FROM USUARIOS WHERE ID_USUARIO=@ID_USUARIO
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_CLIENTES]    Script Date: 18/04/2023 20:56:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[INSERTAR_CLIENTES]
@CLIENTE VARCHAR (30),
@DIRECCION VARCHAR (60),
@DNI INT,
@NUMCELULAR INT
AS
INSERT INTO CLIENTES VALUES (@CLIENTE,@DIRECCION,@DNI,@NUMCELULAR)
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_PRODUCTOS]    Script Date: 18/04/2023 20:56:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[INSERTAR_PRODUCTOS]
@PRODUCTO VARCHAR(30),
@PRECIO INT ,
@CANTIDAD INT,
@CATEGORIA VARCHAR (30),
@DESCRIPCION VARCHAR (60),
@FORMAPAGO VARCHAR (10)
AS
INSERT INTO PRODUCTOS VALUES (@PRODUCTO,@PRECIO,@CANTIDAD,@CATEGORIA,@DESCRIPCION,@FORMAPAGO)
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_PROVEE]    Script Date: 18/04/2023 20:56:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[INSERTAR_PROVEE]
@PROVEEDOR NVARCHAR (30),
@RUC INT,
@DIRECCION NVARCHAR (50)
AS
INSERT INTO PROVEEDORES VALUES (@PROVEEDOR,@RUC,@DIRECCION)
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_USUARIO]    Script Date: 18/04/2023 20:56:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[INSERTAR_USUARIO]
@USUARIO VARCHAR (30),
@PASS VARBINARY (64),
@TIPO_USUARIO VARCHAR (30)
AS
INSERT INTO USUARIOS VALUES (@USUARIO, HASHBYTES('SHA2_512',@PASS),@TIPO_USUARIO)
GO
/****** Object:  StoredProcedure [dbo].[mostar_fac]    Script Date: 18/04/2023 20:56:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[mostar_fac]
as
select 
v.ID_VENTA as cod_factura,
v.Nom_v as vendedor,
v.FECHA as fecha,
c.CLIENTE as nombre_cliente,
prd.PRODUCTO as producto,
prd.PRECIO as precio,
v.CANT_PED as cantidad,
v.TOTAL as total
from VENTA v
inner join CLIENTES c on c.ID_CLIENTES = v.ID_CLIENTE
inner join PRODUCTOS prd on prd.ID_PRODUCTOS = V.ID_PRODUCTO
GO
/****** Object:  StoredProcedure [dbo].[MOSTRAR_CLIENTES]    Script Date: 18/04/2023 20:56:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[MOSTRAR_CLIENTES]
AS
SELECT *FROM CLIENTES
GO
/****** Object:  StoredProcedure [dbo].[MOSTRAR_PRODUCTOS]    Script Date: 18/04/2023 20:56:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[MOSTRAR_PRODUCTOS]
AS
SELECT *FROM PRODUCTOS
GO
/****** Object:  StoredProcedure [dbo].[MOSTRAR_PROVEE]    Script Date: 18/04/2023 20:56:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[MOSTRAR_PROVEE]
AS
SELECT *FROM PROVEEDORES
GO
/****** Object:  StoredProcedure [dbo].[MOSTRAR_USU]    Script Date: 18/04/2023 20:56:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[MOSTRAR_USU]
AS
SELECT ID_USUARIO,USUARIO, TIPO_USUARIO FROM USUARIOS
GO
/****** Object:  StoredProcedure [dbo].[Reducir_stock]    Script Date: 18/04/2023 20:56:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Reducir_stock]
(
@CANTIDAD INT,
@ID_PRODUCTO INT
)
as
BEGIN
update PRODUCTOS SET CANTIDAD = @CANTIDAD WHERE ID_PRODUCTOS = @ID_PRODUCTO
END
GO
/****** Object:  StoredProcedure [dbo].[Reg_ven]    Script Date: 18/04/2023 20:56:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Reg_ven]

@ID_CLIENTE INT,
@ID_PRODUCTO INT,
@NOM_V VARCHAR (20),
@FECHA date,
@CANT_PED INT,
@TOTAL DECIMAL (18,2)

AS
insert into VENTA values (@ID_CLIENTE,@ID_PRODUCTO, @NOM_V, @FECHA, @CANT_PED, @TOTAL)
GO
/****** Object:  StoredProcedure [dbo].[USUARIOLOGIN]    Script Date: 18/04/2023 20:56:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure  [dbo].[USUARIOLOGIN]
	@USUARIO varchar(20),
	@PASS varchar(64)
AS
BEGIN
	SELECT *FROM Usuarios WHERE Usuario = @USUARIO
			AND pass = HASHBYTES('SHA2_512',@PASS)
END
GO
USE [master]
GO
